section.skills 
    .container.skills__container 
        .skills__text-container 
            .skills__text-title Чем я могу быть полезен вам
            .skills__text-content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__widget
            .skills__widget-container
                -  
                    var skillsCategories = [
                        ["Front-end",["HTML5","CSS3","Javascript","Jquery и Vue.js"]],
                        ["Workflow",["GIT","Terminal","Gulp","Webpack"]]
                    ];

                ul.skills__container
                    each category in skillsCategories
                        .skill__category
                            li.category-title #{category[0]}
                        ul.skills__row
                            each skillItem in category[1]
                                li.skill__item 
                                    .skill__circle-svg 
                                        svg(viewBox="0 0 100 100").skill__circle-shape
                                            circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                                            circle(cx="50" cy="50" r="40" stroke="url(#gradient)" transform='rotate(180 50 50)').skill__circle.skill__circle_above
                                            linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                                                stop(offset="0%" stop-color="#0788F2")
                                                stop(offset="100%" stop-color="#243FE5")
                                    .skill-title #{skillItem}
