section.skills#skills
    .container.skills__container 
        .skills__text-container 
            .skills__text-title Чем я могу быть полезен вам
            .skills__text-content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        #skills-widget
           
