.about_me_container
        +image("content/user.jpg","avatar")
        .info_about_me  
          .key_live Проживаю:
          .key_age Возраст:
          .key_born Родился:
          .value_live Новосибирск
          .value_age 27 лет
          .value_born 1 января 1991
        .text_about_me
          .hello Привет, меня зовут
          .text_name Владимир Астаханов
          .my_aim Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .progect_aim Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!     
          .star *