.footer_container
        .footer_info 
          .footer_info_year © 2020
          .footer_info_title Владимир <br/> Астахов
          .footer_info_text  Личный сайт <br/> веб-разработчика 
        .footer_links_container 
          +link("Обо мне","about_me")
          +link("Навыки","skill")
          +link("Работы","progects")
          +link("Отзывы","reviews")
        .footer_aim Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
        .footer_message
          .footer_message_text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer_message_author Martin Golding
        .footer_social_container
          .footer_social_instagram
            .footer_insta_icon
          .footer_social_vk
            .footer_vk_icon 
          .footer_social_github
            .footer_github_icon
          .footer_social_envelope
            .footer_envelope_icon