.main_container
        .initials BA
        .menu_container
          +link("Обо мне","about_me")
          +link("Навыки","skill")
          +link("Работы","progects")
          +link("Отзывы","reviews")
        .social_icons_container
          .insta
          .vk
          .github
          .envelope
        .site_meaning Личный сайт<br/>веб разработчика
        .name
          .name_firstname Владимир
          .name_surname Астаханов
        .scroll
          .text Скролл
          .scroll_arrows