.skills_container
        .skills_title Чем я могу быть полезен вам
        .skills_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills_frontend 
          .skills_frontend_tilte Front-end
            .skill_html
            .skill_html_title HTML5
            .skill_html_ellipse
            .skill_css
            .skill_css_ellipse
            .skill_css_title CSS3
            .skill_js 
            .skill_js_title Javascript
            .skill_js_ellipse
            .skill_jq_vue 
            .skill_jq_vue_title Jquery <br/>и Vue.js
            .skill_jq_vue_ellipse
        .skills_workflow
          .skill_workflow_title Workflow
          .skill_workflow_git 
          .skill_workflow_git_title GIT
          .skill_workFlow_git_ellipse 
          .skill_workflow_terminal 
          .skill_workflow_terminal_title Terminal
          .skill_workflow_terminal_ellipse
          .skill_workflow_gulp 
          .skill_workflow_gulp_title Gulp
          .skill_workflow_gulp_ellipse 
          .skill_workflow_webpack 
          .skill_workflow_webpack_title Webpack
          .skill_workflow_webpack_ellipse 
        +image('content/guitar.png',"guitar")  