extends ./main.layout.pug

block content
   .welcome-section
      include ./sections/hero.pug
      include ./sections/aboutme.pug
   .middle-section
      include ./sections/skills.pug
      include ./sections/projects.pug
      //- include ./sections/reviewsContainer.pug
//-           //- include ./sections/footerContainer.pug
//-         //-   +image('content/rockfest.png','background_image')