include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .page
      include ./sections/mainContainer.pug
      include ./sections/aboutMeContainer.pug
      include ./sections/skillsContainer.pug
      include ./sections/projectsContainer.pug
      include ./sections/reviewsContainer.pug
      include ./sections/footerContainer.pug
      +image('content/rockfest.png','background_image')
      
