include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .page
      .main_container
        .initials BA
        .menu_container
          +link("Обо мне","about_me")
          +link("Навыки","skill")
          +link("Работы","progects")
          +link("Отзывы","reviews")
        .social_icons_container
          .insta
          .vk
          .github
          .envelope
        .site_meaning Личный сайт <br/> веб разработчика
        .name Владимир Астаханов
        .scroll
          .text Скролл
          .scroll_arrows
      .about_me_container
        +image("content/user.jpg","avatar")
        .info_about_me  
          .key_live Проживаю:
          .key_age Возраст:
          .key_born Родился:
          .value_live Новосибирск
          .value_age 27 лет
          .value_born 1 января 1991
        .text_about_me
          .hello Привет, меня зовут
          .text_name Владимир Астаханов
          .my_aim Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .progect_aim Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!     
          .star *
      .skills_container
        .skills_title Чем я могу быть полезен вам
        .skills_text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills_frontend 
          .skills_frontend_tilte Front-end
            .skill_html
            .skill_html_title HTML5
            .skill_html_elipse
            .skill_css
            .skill_css_elipse
            .skill_css_title CSS3
            .skill_js 
            .skill_js_title Javascript
            .skill_jq_vue 
            .skill_jq_vue_title Jquery <br/>и Vue.js
        .skills_workflow
          .skill_workflow_title Workflow
          .skill_workflow_git 
          .skill_workflow_git_title GIT
          .skill_workflow_terminal 
          .skill_workflow_terminal_title Terminal
          .skill_workflow_gulp 
          .skill_workflow_gulp_title Gulp
          .skill_workflow_webpack 
          .skill_workflow_webpack_title Webpack
        +image('content/guitar.png',"guitar")  
      .projects_container
        .projects_title Мои работы
        .projects_slider 
          .projects_mini
            +image('content/preview.jpg','preview1 small_preview')
            +image('content/preview2.jpg','preview2 small_preview')
            +image('content/preview3.jpg','preview3 small_preview')
            +image('content/preview4.jpg','previe4 small_preview')
          +image('content/preview.jpg','projects_preview')
          .projects_arrows
            .project_slider_next 
              .arrow_next
            .project_slider_passed 
              .arrow_passed
        .projects_info 
          .projects_info_tags
            .tag HTML
            .tag CSS
            .tag Javascript
          .projects_info_title Сайт школы <br/> образования
          .projects_info_text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!<br/> 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .projects_info_link 
            .projects_info_link_icon_container 
              .projects_info_link_icon 
            .projects_info_link_text Посмотреть сайт
        .projects_print_two 2
      .reviews_container
        +image("content/guitarist.png",'guitarist')
        .reviews_container_title Что обо мне говорят
        .reviews_container_nav 
          .ellipse_nav
            .nav_arrow_passed 
          .ellipse_nav 
            .nav_arrow_next
        .reviews_container_reviews
          .first_review 
            .quote
            .first_review_text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
            .first_review_author
              +image("content/Dmitriy.png","author_avatar")
              .author_name Ковальчук Дмитрий
              .first_author_job Основатель Loftschool
          .second_review 
            .quote
            .second_review_text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
            .second_review_author
              +image("content/Vladimir.png","author_avatar")
              .author_name Владимир Сабанцев
              .second_author_job Преподаватель
      .footer_container
        .footer_info 
          .footer_info_year © 2020
          .footer_info_title Владимир <br/> Астахов
          .footer_info_text  Личный сайт <br/> веб-разработчика 
        .footer_links_container 
          +link("Обо мне","about_me")
          +link("Навыки","skill")
          +link("Работы","progects")
          +link("Отзывы","reviews")
        .footer_aim Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
        .footer_message
          .footer_message_text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer_message_author Martin Golding
        .footer_social_container
          .footer_social_instagram
            .footer_insta_icon
          .footer_social_vk
            .footer_vk_icon 
          .footer_social_github
            .footer_github_icon
          .footer_social_envelope
            .footer_envelope_icon
      .background_image
