extends ./main.layout.pug

block content
   
   .welcome-section
      include ./app/hero/hero.pug
      include ./app/about/aboutme.pug
      include ./app/hero/triangles.pug
   .middle-section
      include ./app/skills/skills.pug
      include ./app/projects/projects.pug
   include ./app//reviews/reviews.pug
   include ./app/footer/footer.pug